#followId {
  clear: both;
}
.followHeight {
  overflow: auto;
  display: inline-block;
  max-height: 300px;
}

.followContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 10px 25px;
  width: 500px;
  max-width: 500px;
  max-height: 200px;
  overflow: auto;
}
.profileHeader {
  display: flex;
  align-items: center;
}

.profileHeader1 {
  display: flex;
  align-items: center;
}
.flexHeader {
  display: flex;
  align-items: center;
}
.container735 label {
  cursor: pointer;
}
.follow {
  display: inline-block !important;
}

.container735 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 400px;
  align-items: baseline;
}
.header_container {
  display: block;
}
.follow_spinner {
  position: relative !important;
  color: #fff !important;
  width: 20px !important;
  height: 20px !important;
  left: 0px !important;
}
.following_spinner {
  position: relative !important;
  color: gray !important;
  width: 20px !important;
  height: 20px !important;
  left: 0px !important;
}
.remove_follow {
  padding: "20px";
  text-align: "center";
}
.follow {
  margin-bottom: 0px !important;
}

.user_Avatar {
  width: 150px;
  height: 150px;
  margin-top: 20px;
}
.headerText {
  display: flex;
  align-items: center;
}
.btn_follow {
  margin-left: 20px !important;
  background: rgba(var(--d69, 0, 149, 246), 1) !important;
  color: rgba(var(--eca, 255, 255, 255), 1) !important;
  border-radius: 3px !important;
  padding: 2px 0;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 100px;
  width: 100%;
  max-width: 100px;
  margin-right: 20px;
}

.btn-following {
  margin-left: 20px !important;
  background: transparent !important;
  color: rgba(var(--f75, 38, 38, 38), 1) !important;
  padding: 2px 0;
  cursor: pointer;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: 0;
  overflow: hidden;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  min-width: 100px;
  width: 100%;
  max-width: 100px;
  border: 1px solid rgba(var(--ca6, 219, 219, 219), 1) !important;
}
.profile-pic {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  object-fit: cover;
  height: 100%;
  cursor: pointer;
}
.myImagess {
  width: 295px;
  height: 350px;
  object-fit: cover;
}
.container-1 {
  display: flex;
  flex-flow: wrap;
}

.box-1 {
  flex-basis: 25.7%;
  margin-top: 24px;
  margin-right: 29px;
  cursor: pointer;
  justify-content: space-around;
}
.MuiMenu-paper {
  float: right !important;
  margin-right: 110px;
}
.imageWidth {
  width: 600px;
}

@media only screen and (max-width: 735px) {
  /* .profileHeader {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  } */
  .container735 {
    width: 320px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px !important;
  }
  .follow {
    display: inline-block !important;
  }
  .btn_follow {
    margin-left: 0px !important;
    line-height: 20px !important;
    padding: 3px !important;
    margin-top: 10px;
    display: block !important;
  }
  .btn-following {
    display: inline-block !important;
    margin-left: 0px !important;
  }
  .headerText {
    display: flex;
    align-items: baseline;
    font-size: 25px !important;
    padding-bottom: 0px !important;
  }
  .remove_follow {
    margin-left: 0px !important;
    display: block !important;
  }
  .profile label {
    padding-right: 0px !important;
    font-size: 17px !important;
  }
}

@media screen and (max-width: 999px) {
  .followContainer {
    width: 100%;
  }
  .header_container {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
    justify-content: space-around;
  }
  .remove_follow {
    padding: "10px";
    display: inline-block;
    margin-left: 20px;
  }
  .imageWidth {
    width: 100%;
  }

  .btn-following {
    margin-left: 0 !important;
    line-height: 20px !important;
    padding: 3px !important;
    display: block;
    margin-top: 10px;
  }
  .headerText {
    display: inline-block;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 3px !important;
    padding-bottom: 0px !important;
    font-size: 25px !important;
  }
  .follow {
    display: block;
    padding: 0px;
    margin-bottom: 0px;
    line-height: 0;
    text-align: center;
  }
  .profile label {
    font-size: 17px !important;
  }
}
